      body {
          font-family: Arial, Helvetica, sans-serif;
          background-image: url(https://img.freepik.com/foto-gratis/textura-madera_1194-5742.jpg); /*Imagen de fondo para toda la web*/
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          color: #fff;
      }
      
      nav { /*Barra superior que actua como menú*/
          background-color: rgb(80, 18, 18);
          display: flex;
          height: 60px;
          position: fixed;
          top: 0;
          width: 100%;
          z-index: 2;
      }
      .banderas { /*Menu de idiomas*/
        height: auto;
        width: 25px;
        padding-top: 10px;
    }
      
      nav#horizontal ul {
          height: 3.5rem;
      }
      
      li {
          display: inline-block;
      }
      
      a {
          color: white;
          text-decoration: none;
          height: 100%;
          width: 100%;
      }
      
      .logo { /*Configuracion del logo*/
          width: 50px;
          height: 50px;
          margin-left: 15px;
          margin-top: 5px;
          text-align: left;
      }
      
      div { 
          flex-grow: 3;
      }
      
      .menu { /*Concretamente la parte del menu del nav a la derecha*/
          display: flex;
          text-align: right;
          margin-left: 1100px;
          margin-top: -74px;
          justify-content: space-evenly;
          ;
      }
      

      .container { /*Creacion de los contaniers de la pagina de carta, donde se ponen las imagenes*/
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          grid-template-columns: repeat(6, 1fr);
          gap: 10px;
          padding: 20px;
          margin-top: 80px;
          display: grid;
      }
      
      .column2 { /*Columna de Bebidas*/
          background-color: #e19494c6;
          color: #fff;
          width: 130%;
          height: 2100px;
          text-align: center;
          border-radius: 5px;
          margin-left: 30%;
      }
      
      .column4 { /*Columna de Comida*/
          background-color: #e19494c6;
          color: black;
          width: 130%;
          height: 2100px;
          text-align: center;
          border-radius: 5px;
          align-items: center;
          justify-content: center;
          margin-left: 70%;
      }
      
      .column8 { /*Columna de Postres*/
          background-color: #e19494c6;
          color: #fff;
          width: 130%;
          height: 2100px;
          text-align: center;
          border-radius: 5px;
          align-items: center;
          justify-content: center;
          margin-left: 0%;
      }
      
      .column6 { /*Columna de acompañantes*/
          background-color: #e19494c6;
          color: #fff;
          width: 130%;
          height: 2100px;
          text-align: center;
          border-radius: 5px;
          align-items: center;
          justify-content: center;
          margin-left: 248%;
      }
      
      @media screen and (max-width:700px) {
          .container {
              grid-template-columns: 1fr;
              margin-top: 60px;
          }
          body {
              justify-content: center;
          }
          .column2 {
              margin-left: 5px;
              width: 100%;
          }
          .column4 { /*Reposicionamiento de todo el layout*/
              margin-left: 5px;
              width: 100%;
          }
          .column8 {
              margin-left: 5px;
              width: 100%;
          }
          .column6 {
              margin-left: 5px;
              width: 100%;
          }
          .menu {
              margin-top: -80px;
              margin-left: 100px;
          }
          .bandera { /*Reposicionamiento del menu de idiomas en telefono*/
              margin-left: 5px;
              margin-top: 5px
          }
          
      }
      
      .titulos {
          margin-top: 20px;
          color: black;
          font-weight: bold;
          font-size: 20px;
      }
      
      footer { /*Centrado del Copyright*/
          text-align: center;
      }
      
      .first { /*Centrado especial de los elementos colocados en la parte superior del gird*/
          margin-top: 20px;
          color: black;
          font-size: 18px;
          cursor: pointer;
      }
      
      .second {  /*Centrado ordinario de los elementos colocados en la parte inferior del gird*/
          margin-top: 40px;
          color: black;
          font-size: 18px;
          cursor: pointer;
      }
      
      .second:active { /*Saturado con active para los elementos del grid cuando se presione sobre la imagen, tambien llama a una animacion creada mas adelante*/
          opacity: 0.8;
          filter: saturate(1);
          filter: brightness(1.2);
          animation: agrandar 0.3s;
      }
      
      .first:active { /*Saturado con active para los elementos del grid cuando se presione sobre la imagen, tambien llama a una animacion creada mas adelante*/
          opacity: 0.8;
          filter: saturate(1);
          filter: brightness(1.2);
          animation: agrandar 0.3s;
      }
      
      .first:hover { /*Brillo a la imagen y crecimiento en cuanto se pasa el raton por encima*/
          filter: brightness(1.2);
          scale: 1.1;
      }
      
      .second:hover { /*Brillo a la imagen y crecimiento en cuanto se pasa el raton por encima*/
          filter: brightness(1.3);
          scale: 1.1;
      }

      
      @keyframes agrandar { /*Animacion sencilla de crecimiento de imagen*/
          30% {
              transform: scale(0.90);
          }
          65% {
              transform: scale(0.85) inherit;
          }
      }
      /*HASTA AQUI EL CSS DE MARC*/
      /*CSS DE ADRIAN*/
      
      @keyframes rotar {
        0% {
            transform: rotate( 0deg) scale( 1);
        }
        33% {
            transform: rotate( 15deg) scale( 1);
        }
        66% {
            transform: rotate( -15deg) scale( 1);
        }
        100% {
            transform: rotate( 0deg) scale( 1);
        }
    }
    body{
      z-index: 1;
    }
    
    .index {
        display: flex;
        margin: 5rem;
    }
    
    .h1-index {
        padding: 2rem;
    }
    
    .img-index {
        width: 20rem;
        clip-path: circle(50%);
        display: block;
        margin: auto;
        transition-duration: 1s;
    }
    
    .img-index:hover {
        border: 1px solid #2e2e2d;
        box-shadow: 0px 0px 50px #666;
        animation: rotar 1s;
    }
    
    .opcion-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        z-index: 1;
    }
    
    .opcion-menu:hover {
        cursor: pointer;
    }
    
    .footer-index {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
    
    .h1-index {
        text-align: center;
        font-weight: bolder;
        font-size: x-large;
    }
    
    video {
        min-width: 100%;
        height: 40rem;
        object-fit: fill;
        position: absolute;
    }
    
    .contenedor-video {
        max-width: 100%;
        max-height: 20%;
        overflow: hidden;
    }
    
    .img-header {
        width: 100%;
    }
    
    .contenedor-oferta {
        max-width: 100%;
        max-height: 20%;
        overflow: hidden;
    }
    
    .oferta {
        width: 100%;
    }

    
    @media screen and (max-width: 500px) {
        video {
            display: none;
        }
        .index {
            padding: 50px;
            flex-direction: column;
        }
        .img-index {
            width: 10rem;
            margin: auto;
            clip-path: circle(50%);
            margin: 0;
        }
        .opcion-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .img-header {
            padding-top: 3.5rem;
        }
        .enlace-index{
          display: flex;
          flex-direction: column;
          align-items: center;
        }
    }
    /*HASTA AQUI CSS DE ADRIAN*/
      /*HASTA AQUI CSS DE ADRIAN*/
      /*CSS DE PAU*/
      
      .bodyedit {
          height: 100%;
          background-color: orange;
      }
      
      .contact_form {
          width: 900px;
          height: auto;
          margin: 80px auto;
          border-radius: 10px;
          padding-top: 30px;
          padding-bottom: 20px;
          background-color: orange;
          text-align: center;
          padding-left: 10px;
      }
      
      .inputedit {
          background-color: white;
          width: 800px;
          height: 40px;
          border-radius: 5px;
          border-style: solid;
          border-width: 1px;
          border-color: black;
          margin-top: 10px;
          padding-left: 10px;
          margin-bottom: 20px;
      }
      
      .labeledit {
          display: block;
          float: center;
          margin: 0 auto;
          text-align: center;
      }
      
      .buttonedit {
          height: 45px;
          padding-left: 5px;
          padding-right: 5px;
          margin-bottom: 20px;
          margin-top: 10px;
          text-transform: uppercase;
          background-color: black;
          border-color: black;
          border-style: solid;
          border-radius: 10px;
          width: 420px;
          cursor: pointer;
          color: white;
      }
      
      .spancolor {
          color: black;
      }
      
      .avisox {
          font-size: 13px;
          color: white;
      }
      
      .titulo1 {
          font-size: 39px;
          text-align: center;
          padding-bottom: 20px;
          color: black;
      }
      
      .titulo3 {
          font-size: 16px;
          padding-bottom: 30px;
          color: #0e0e0e;
          text-align: center;
      }
      
      .Pedit {
          font-size: 14px;
          color: black;
      }
      
      .textarea {
          background-color: #fbfbfb;
          width: 405px;
          height: 150px;
          border-radius: 5px;
          border-style: solid;
          border-width: 1px;
          border-color: #ab4493;
          margin-top: 10px;
          padding-left: 10px;
          margin-bottom: 20px;
          padding-top: 15px;
      }
      
      .espacio {
          margin-left: 10px;
      }
      
      @media screen and (max-width: 500px) {
          .bodyedit {
              height: 100%;
              font-family: Arial, Helvetica, sans-serif;
              background-color: orange;
          }
          .contact_form {
              width: 380px;
              height: auto;
              margin: 80px auto;
              border-radius: 10px;
              padding-top: 30px;
              padding-bottom: 20px;
              background-color: orange;
              text-align: center;
              padding-left: 10px;
          }
          .inputedit {
              background-color: white;
              width: 350px;
              height: 40px;
              border-radius: 5px;
              border-style: solid;
              border-width: 1px;
              border-color: black;
              margin-top: 10px;
              padding-left: 10px;
              margin-bottom: 20px;
          }
          .labeledit {
              display: block;
              float: center;
              margin: 0 auto;
              text-align: center;
          }
          .buttonedit {
              height: 45px;
              padding-left: 5px;
              padding-right: 5px;
              margin-bottom: 20px;
              margin-top: 10px;
              text-transform: uppercase;
              background-color: black;
              border-color: black;
              border-style: solid;
              border-radius: 10px;
              width: 190px;
              cursor: pointer;
              color: white;
          }
          .spancolor {
              color: black;
          }
          .avisox {
              font-size: 13px;
              color: white;
          }
          .titulo1 {
              font-size: 39px;
              text-align: center;
              padding-bottom: 20px;
              color: black;
          }
          .titulo3 {
              font-size: 16px;
              padding-bottom: 30px;
              color: #0e0e0e;
              text-align: center;
          }
          .Pedit {
              font-size: 14px;
              color: black;
          }
          .textarea {
              background-color: #fbfbfb;
              width: 250px;
              height: 150px;
              border-radius: 5px;
              border-style: solid;
              border-width: 1px;
              border-color: #ab4493;
              margin-top: 10px;
              padding-left: 10px;
              margin-bottom: 20px;
              padding-top: 15px;
          }

      }

      
      .grid-container {
          display: grid;
          grid-template-columns: 60% 5% 35%;
          margin-top: 100px;
      }
      
      .grid-item {
          margin-left: 5rem;
          text-align: center;
      }
      
      .sub-item1 {
          margin-right: 5rem;
          text-align: center;
          margin-bottom: 3%;
          margin-top: 8%;
          width: 80%;
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      
      .sub-item2 {
          margin-right: 5rem;
          text-align: center;
          border: 4px solid black;
          background-color: rgba(80, 18, 18, 0.73);
          margin-bottom: 2.5rem;
      }
      
      #titulo {
          font-size: 4rem;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          padding-bottom: 1%;
          padding-top: 1%;
      }
      
      .texto {
          text-align: justify;
          padding-left: 3%;
          padding-bottom: 2%;
          padding-right: 3%;
          padding-top: 1%;
          font-size: 1.2rem;
      }
      
      #info {
          margin-top: 5%;
          padding-bottom: 1%;
          font-size: 180%;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      
      .info1 {
          font-size: 120%;
          padding-top: 12px;
          padding-bottom: 4px;
      }
      
      #info2 {
          padding-bottom: 5%;
      }
      
      .img-nosotros {
          max-width: 100%;
          height: auto;
      }